body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.todo-container {
    display: flex;
    width: 69vw;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
    height: 30px;
    margin: 15px;
    padding: 15px;
}


    .todo-container button {
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        border: none;
        font-size: 0.5rem;
        border-radius: 30px;
        background-color: #ef476f;
        color: white;
    }

.todo-container h2{
    color: white;
    font-size: 0.8rem;
   
}

    .todo-container p {
        color: white;
        font-size: 0.8rem;
    }

.form-container form input{
     margin: 10px;
     padding: 10px;
     width: 180px;
}

.form-container button {
    padding: 10px;
    width: 150px;
  
    border-radius: 15px;
    border: none;
    background: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
    color: white;
}



